<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<mirrors>
		<mirror>
			<id>Nexus</id>
			<name>Nexus Public Mirror</name>
			<url>https://gebit-nexus.local.gebit.de/content/groups/public</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>

	<servers>
		<!-- For your own project replace the server ID and environment variables, e.g. xyz-relases and NEXUS_XYZ_USERNAME) -->
		<!-- see https://wiki.gebit.de/display/GBLD/Deployment+password+management for details -->
		<server>
			<id>gebit-releases</id>
			<username>${env.NEXUS_GEBIT_BUILD_USERNAME}</username>
			<password>${env.NEXUS_GEBIT_BUILD_PASSWORD}</password>
		</server>
		<server>
			<id>gebit-snapshots</id>
			<username>${env.NEXUS_GEBIT_BUILD_USERNAME}</username>
			<password>${env.NEXUS_GEBIT_BUILD_PASSWORD}</password>
		</server>
		<server>
			<id>gebit-integration</id>
			<username>${env.NEXUS_GEBIT_BUILD_USERNAME}</username>
			<password>${env.NEXUS_GEBIT_BUILD_PASSWORD}</password>
		</server>

		<!-- Defines the user to deploy the site. Make sure the jenkins user has the correct key to access the server. -->
		<server>
			<id>gebit-maven-site</id>
			<username>jenkins</username>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>nexus-profile</id>
			<repositories>
				<repository>
					<id>releases</id>
					<url>https://gebit-nexus.local.gebit.de/content/groups/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>integration</id>
					<url>https://gebit-nexus.local.gebit.de/content/groups/integration</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>snapshots</id>
					<url>https://gebit-nexus.local.gebit.de/content/groups/snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>public</id>
					<url>https://gebit-nexus.local.gebit.de/content/repositories/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>public-osgi</id>
					<url>https://gebit-nexus.local.gebit.de/content/repositories/public-osgi</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>plugin-integration</id>
					<url>https://gebit-nexus.local.gebit.de/content/groups/integration</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>plugin-releases</id>
					<url>https://gebit-nexus.local.gebit.de/content/groups/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>plugin-snapshots</id>
					<url>https://gebit-nexus.local.gebit.de/content/groups/snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>

		<profile>
			<id>disabled-jenkins-ci-repo-profile</id>
			<repositories>
				<repository>
					<id>repo.jenkins-ci.org</id>
					<url>none</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>incrementals</id>
					<url>none</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>repo.jenkins-ci.org</id>
					<url>none</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>incrementals</id>
					<url>none</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>nexus-profile</activeProfile>
		<activeProfile>disabled-jenkins-ci-repo-profile</activeProfile>
	</activeProfiles>
</settings>